@import url(reset.css);
body{background: url(../img/halloween/bg.png) fixed;}
/*background-attachment:scroll fixed */

#wrapper{width: 960px;margin: 0 auto;background: url(../img/halloween/hand.png) no-repeat center bottom;padding-bottom: 600px}

.section{border-top:1px solid #ccc;position: relative;background:#555;box-shadow: 0 0 20px rgba(0,0,0,.5);overflow: hidden}

.jack,.zombie{background: #333}

.section img{float: left}
.section:nth-child(2n) img{float: right}

.section h2{font-size: 50px;text-align: right;padding: 50px 40px 0 0;color:#3f3;}

.section p{color:#999;text-align: right;line-height: 1.5;font-size:14px;padding: 30px;}


/*첫번째 cover section */
.cover{height: 530px;background: url(../img/halloween/cover.png) no-repeat;}
.cover h1{margin: 30px}
.cover .gnb{width: 960px;background: rgba(0,0,0,0.75);position: absolute;left:50%;bottom:0;transform: translateX(-50%)}
.cover .gnb.fix{position:fixed;top:0;z-index: 1000;bottom:auto}

.cover .gnb li{float: left}
.cover .gnb li a{display: block;padding: 0 20px;height: 50px;line-height: 50px;font-size: 20px;color:#fff}
.cover .gnb li a:hover{color:#3f3}










